/*Colors and fonts*/
@import url("components/blog-pictures.css");
@import url("components/btn-beige.css");
@import url("components/btn-blue.css");
@import url("components/btn-gris.css");
@import url("components/card-research.css");
@import url("components/card-white.css");
@import url("components/cities-pictures.css");
@import url("components/list-inline.css");
@import url("components/logo-circle.css");
@import url("components/packages-pictures.css");
@import url("components/profile-pictures.css");
@import url("components/research-bar.css");


body {
	background: #FFFFFF;
	color: #2F7B8B;
	font-family: 'Brawler',serif; 
	font-size: 16px;
}

header {
	background: #2F7B8B;
	height: 300px;
	width: 100%;
	padding: 10px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Sansita',sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

h2 {
    color: #2F7B8B;
    font-family: 'Brawler';
    font-weight: lighter;
    font-size: 28px;
}

h3 {
    color: #2F7B8B;
    font-family: 'Sansita',sans-serif;
    font-size: 24px;
}

h4 {
    color: #D3A877;
    font-family: 'Brawler',serif;
    font-size: 14px;
}

a{
	text-decoration: none;
	color: #D3A877;
}

@media (max-width: 760px) {
	.container {
		width: 600px; 
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px; 
	}
}


/*Components*/

.btn-beige{
	background-color: #D3A877;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-gris{
	background-color: #F3F2F2;
	color: #2F7B8B;
	padding: 15px 20px;
	border-radius: 4px;
}

.cities-pictures {
	width: 340px;
	height: 274px;
	padding: 5px;
}

.list-horizontal{
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li{
	display: inline;
	padding: 60px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}
.list-inline i:hover {
	color: #D3A877;
}

#logo-circle {
	border-radius: 50%;
}

.formula-picture {
	width: 326px;
	height: 354px;
	padding: 15px;
	left: 825px;
	top: 232px;
}

.div-polaroid {
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.div-container {
  text-align: center;
  padding: 10px 20px;
}

.ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F3F2F2;
}

.li {
	float: left;
}

.li a {
	display: block;
	color: #D3A877;
	text-align: center;
	padding: 14 px 16px;
	text-decoration: none;
}
