/*Colors and fonts*/

@import url("components/btn-beige.css");
@import url("components/btn-book.css");
@import url("components/btn-gris.css");
@import url("components/card-white.css");
@import url("components/card-formula.css");
@import url("components/cities-pictures.css");
@import url("components/formula-picture.css");
@import url("components/heading-bar.css");
@import url("components/link-rome.css");
@import url("components/list-horizontal.css");
@import url("components/list-inline.css");
@import url("components/logo-circle.css");
@import url("components/polaroid.css");
@import url("components/profiles-pictures.css");
@import url("components/research-bar.css");
@import url("components/card-blog.css");
@import url("components/btn-gris-blog.css");
@import url("components/pictures-blog.css");


body {
	background: #FFFFFF;
	color: #2F7B8B;
	font-family: 'Brawler',serif; 
	font-size: 16px;
	margin: 0px;
}

header {
	background: #2F7B8B;
	height: 300px;
	width: 100%;
	padding: 10px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Sansita',sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

h2 {
    color: #2F7B8B;
    font-family: 'Brawler';
    font-weight: lighter;
    font-size: 28px;
    margin-left: 20px;
}

h3 {
    color: #2F7B8B;
    font-family: 'Sansita',sans-serif;
    font-size: 24px;
}

h4 {
    color: #D3A877;
    font-family: 'Brawler',serif;
    font-size: 14px;
}

h5 {
	color: #2F7B8B;
	font-family: 'Brawler';
    font-weight: lighter;
    font-size: 22px;
    text-align: center;
    margin: 60px;
}

a{
	text-decoration: none;
	color: #D3A877;
}

input{
	
}

.aboutus {
	color: #FFFFFF;
	position: absolute;
	top: 30px; left: 1300px;
}

.blog {
	color: #FFFFFF;
	position: absolute;
	top: 30px; left: 1230px;
}

.login {
	color: #FFFFFF;
	position: absolute;
	top: 30px; left: 1140px;
}

.container{
	width: 1200px;
	margin: 0px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px; 
	}
	.try {
		width: 400px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px; 
	}
	.try {
		width: 400px;
	}
}

.try{
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	align-items: center;
	width: 60%;
	margin: 0px auto;
	background-color: #F3F2F2;
}
