/* cards-basket */

.container-basket {
	width: 500px;
	margin-left: 450px;
}

@media (max-width: 760px) {
	.container {
		width: 600px; 
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px; 
	}
}

.card-basket {
	background-color: white;
	padding: 20px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}